{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@": "./src",
          "@r": "./resources"
        }
      }
    ],
    ["./libraries/json-env/babel-plugin"]
  ],
  "env": {
    "development": {
      "plugins": [
        ["styled-components", {
          "displayName": true,
          "fileName": true,
          "minify": false,
          "ssr": true
        }]

      ]
    },
    "production": {
      "plugins": [
        ["styled-components", {
          "displayName": false,
          "fileName": false,
          "minify": true,
          "ssr": true
        }],
        ["polished"]
      ]
    }
  }
}